/* ********************* */
/* Webring Preset Styles */
/* ********************* */

/* Default style */
.webring-style-default .webring-arrows {
    font-size: 1.2rem;
    margin: 0.5rem;
}
.webring-style-default .webring-logo {
    height: 35px;
}
.webring-style-default .webring-random,
.webring-style-default .webring-list {
    font-size: 1.2rem;
    margin-top: 0.2rem;
}

/* Minimal style */
.webring-style-minimal .webring-arrows {
    font-size: 1rem;
    margin: 0.2rem;
}
.webring-style-minimal .webring-logo {
    height: 25px;
}
.webring-style-minimal .webring-random {
    font-size: 1rem;
    margin-top: 0.2rem;
}



/* ********************* */
/* Basic Webring Styling */
/* ********************* */

.webring-logo {
    vertical-align: middle;
}

.webring-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin: 1em 0;
}

.webring-top-row {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.webring-bottom-row {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}

.webring-widget a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: purple;
}

.webring-arrows {
    color: #004cff;
}